---
title: Philosophy
permalink: /about/philosophy/
---

<div class="content content--narrow">
  <h1>Philosophy & Rules</h1>

  <p>This page is a collection of rules, values and philosophies I strive for. I don&rsquo;t follow each of them precisly but I very much aim towards it. Some are easy to go after, others are not. Sometimes it can also be very difficult to put values into words. My goal is to become a better or the best version of myself.</p>

  <h2>👍🏻 General</h2>

  <ol>
    <li>Get your shit done</li>
    <li>Assume that the person you are listening to might know something you don't.<sup><a href="#fn1" id="fnref1">1</a></sup></li>
  </ol>

  <h2>👩🏻‍👨🏻‍👧🏻 Parenting</h2>

  <ol>
    <li>Encourage boredom</li>
  </ol>

  <h3>Footnotes</h3>

  <ol>
    <li>12 Rules for Life by Jordan B. Peterson. <a href="https://isbndb.com/book/9780735277458">isbndb.com</a> <a href="#fnref1">↩</a>
  </ol>
</div>