:root {
  color-scheme: light dark;
}

[data-theme='light'] {
  color-scheme: light only;
}

[data-theme='dark'] {
  color-scheme: dark only;
}

html {
  scroll-padding-top: env(safe-area-inset-top, 0px);
  scrollbar-gutter: stable;
}

html,
body {
  font-family: var(--ff-sans);
  font-size: 18px;
  min-height: 100vh;
  background-color: var(--c-background);
}

a {
  text-decoration: none;
}

.about-image {
  mask: linear-gradient(black 40%, transparent 95%);
}

.content {
  --content-width: var(--max-content-width-wide);

  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, var(--content-width)) minmax(1rem, 1fr);
  padding: var(--content-y-gutter) 0;

  > * {
    grid-column: 2;
  }

  &.content--narrow {
    --content-width: var(--max-content-width-narrow);
  }
}
