---
layout: base.njk
---

<div class="about">
    <div class="about__image">
        <img src="/assets/images/me.jpg" alt="" />
    </div>
    <div class="about__text">
        {{ content | safe }}
    </div>
</div>