---
title: MaxBoll.com
navigation: true
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicons/apple-touch-icon.png' | url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicons/favicon-32x32.png' | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicons/favicon-16x16.png' | url }}">
    <link rel="manifest" href="{{ '/assets/images/favicons/site.webmanifest' | url }}">
    <link rel="mask-icon" href="{{ '/assets/images/favicons/safari-pinned-tab.svg' | url }}" color="#9f7c3c">
    <link rel="shortcut icon" href="{{ '/assets/images/favicons/favicon.ico' | url }}">
    <meta name="apple-mobile-web-app-title" content="makkusu.dev">
    <meta name="application-name" content="makkusu.dev">
    <meta name="msapplication-TileColor" content="#9f7c3c">
    <meta name="msapplication-config" content="{{ '/assets/images/favicons/browserconfig.xml' | url }}">
    <meta name="theme-color" content="#9f7c3c">

    <title>{{ title }} @ {{ site.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/stylesheets/application.min.css' | url }}">
    <!--
     ___    ___   ________   __   ___  __   ___  __    __   ______   __    __       _____     _______   __      __
    |   \__/   | |   __   | |  | /  / |  | /  / |  |  |  | |   ___| |  |  |  |     |     \   |   ____| \  \    /  /
    |          | |  |__|  | |  |/  /  |  |/  /  |  |  |  | |  |___  |  |  |  |     |  |\  \  |  |____   \  \  /  /
    |  |\__/|  | |   __   | |     {   |     {   |  |  |  | |___   | |  |  |  |     |  | |  | |   ____|   \  \/  /
    |  |    |  | |  |  |  | |  |\  \  |  |\  \  |  |__|  |  ___|  | |  |__|  |  _  |  |/  /  |  |____     \    /
    |__|    |__| |__|  |__| |__| \__\ |__| \__\ |________| |______| |________| |_| |_____/   |_______|     \__/
    -->
</head>
<body>
    {% if navigation %}
        {% include 'navigation.njk' %}
    {% endif %}

    {{ content | safe }}

    {% include 'footer.njk' %}

    <script src="{{ '/assets/javascripts/prism.js' | url }}"></script>
    <script type="module" src="{{ '/assets/javascripts/application.js' | url }}"></script>
</body>
</html>