<footer class="footer">
    made with <span style="color:red">&hearts;</span> &mdash; <a href="/imprint">Imprint</a> &mdash; 
    <a href="https://webring.xxiivv.com/#makkusu-dev" target="_blank">
        <img src="https://webring.xxiivv.com/icon.white.svg" alt="XXIIVV webring"/>
    </a> 
    &mdash; またね。
</footer>