<div class="navigation__button">
    <span></span>
</div>

<nav class="navigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/hobbies">Hobbies</a></li>
        <li><a href="/projects">Projects</a></li>
    </ul>
</nav>