<div class="navigation__button">
    <span></span>
</div>

<nav class="navigation">
    <a href="/" class="navigation__home icofont-home"></a>
    <ul>
        <li><a href="{{ '/about' | url }}" class="navigation__link">About</a></li>
        <li><a href="{{ '/blog' | url }}" class="navigation__link">Blog</a></li>
        <li><a href="{{ '/hobbies' | url }}" class="navigation__link">Hobbies</a></li>
        <li><a href="{{ '/coding' | url }}" class="navigation__link">Coding</a></li>
    </ul>
</nav>