<div class="navigation__button">
    <span></span>
</div>

<nav class="navigation">
    <a href="/" class="navigation__home">开</a>
    <ul>
        <li><a href="/about" class="navigation__link">About</a></li>
        <li><a href="/blog" class="navigation__link">Blog</a></li>
        <li><a href="/hobbies" class="navigation__link">Hobbies</a></li>
        <li><a href="/projects" class="navigation__link">Projects</a></li>
    </ul>
</nav>