{% if pagination.pages | length > 1 %}
  <div class="pagination">
    {% if pagination.pageNumber > 1 %}
      <a href="{{ pagination.href.first }}" class="pagination__link">First page</a>
    {% endif %}
    {% if pagination.pageNumber > 0 %}
      <a href="{{ pagination.href.previous }}" class="pagination__link">Newer posts</a>
    {% endif %}
    <div>{{ pagination.pageNumber + 1 }} of {{ pagination.pages | length }}</div>
    {% if pagination.pageNumber + 1 < pagination.pages | length %}
      <a href="{{ pagination.href.next }}" class="pagination__link">Older posts</a>
    {% endif %}
    {% if pagination.pageNumber + 1 < pagination.pages | length - 1 %}
      <a href="{{ pagination.href.last }}" class="pagination__link">Last page</a>
    {% endif %}
  </div>
{% endif %}