{% if project.data.codepen %}
  {% set cover = 'https://shots.codepen.io/username/pen/' + project.data.codepen + '-512.jpg' %}
{% else %}
  {% set cover = fallbackcover %}
{% endif %}

<article class="post post--coding">
  <div class="post__image">
    <iframe title="{{ project.data.title }}" src="https://codepen.io/MyXoToD/embed/{{ project.data.codepen }}?default-tab=result&editable=true&theme-id=dark&data-show-tab-bar=no" loading="lazy"></iframe>
  </div>
  <div class="post__data">
    <div class="post__date">{{ project.date | formatDate }} ({{ project | readingtime }})</div>
    <h2 class="post__title"><a href="{{ project.url | url }}">{{ project.data.title }}</a></h2>

    <p class="post__excerpt">{{ project.data.excerpt }}</p>

    <a href="{{ project.url | url }}" class="post__readmore">Read more</a>
  </div>
</article>