---
layout: base.njk
---

<div class="post__progress"></div>

<div class="section">
    <div class="section__content section__content--narrow align-c">
        <h1>{{ title }}</h1>
    </div>

    <div class="section__content">
        {{ content | safe }}
    </div>
</div>