---
layout: base.njk
---

<a href="/blog" class="post__back icofont-hand-drawn-left" title="Back to all posts"></a>

<div class="post__progress"></div>

<div class="section post">
    <div class="section__content section__content--narrow align-c">
        <h1 class="post__title"><a href="{{ '/blog' | url }}">{{ title }}</a></h1>
    </div>

    <div class="section__content">
        <h2 class="post__excerpt">{{ excerpt }}</h2>

        <div class="post__meta">
            <a href="{{ '/blog' | url }}">&larr; Back</a>
            <div>{{ date | toFormattedDate }}</div>
            {%- if tags -%}
                {%- for tag in tags -%}
                    <a href="/tag/{{ tag }}">#{{ tag }}</a>
                {%- endfor -%}
            {%- endif -%}
        </div>

        <hr />

    </div>
</div>

<div class="post__content">
    {{ content | safe }}
</div>