{% if post.data.cover %}
  {% set cover = post.data.cover %}
{% else %}
  {% set cover = fallbackcover %}
{% endif %}

<article class="post">
  <a href="{{ post.url | url }}" class="post__image">
    <img src="{{ cover }}" alt="{{ post.data.title }}">
  </a>
  <div class="post__data">
    <div class="post__date">{{ post.date | formatDateFull }} ({{ post | readingtime }})</div>
    <h2 class="post__title"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>

    <p class="post__excerpt">{{ post.data.excerpt }}</p>

    <ul class="post__tags">
      {% for tag in post.data.tags %}
        <li class="post__tag">
          <a href="{{ '/blog/tag/' + tag + '/' | url }}">{{ tag }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</article>