<div class="topbar">
  <div class="topbar__inner">
    <h1 class="topbar__title"><a href="{{ '/' | url }}">マックス</a></h1>

    <label class="mobile-nav-button">
      <input type="checkbox">
    </label>
    <nav class="main-nav">
      <ul>
        <li><a href="{{ '/about/' | url }}" class="main-nav__link{% if menuactive == 'about' %} main-nav__link--active{% endif %}">About</a></li>
        <li><a href="{{ '/blog/' | url }}" class="main-nav__link{% if menuactive == 'blog' %} main-nav__link--active{% endif %}">Blog</a></li>
        <li><a href="{{ '/hobbies/' | url }}" class="main-nav__link{% if menuactive == 'hobbies' %} main-nav__link--active{% endif %}">Hobbies</a></li>
        <li><a href="{{ '/projects/' | url }}" class="main-nav__link{% if menuactive == 'projects' %} main-nav__link--active{% endif %}">Projects</a></li>
      </ul>
    </nav>
  </div>
</div>