---
pagination:
  data: collections
  size: 1
  alias: tag
eleventyComputed:
  title: Blog posts tagged '{{ tag | capitalize }}'
permalink: /blog/tag/{{ tag }}/
menuactive: blog
sitemap:
  priority: 0.6
noreadtime: true
---

{% set taglist = collections[tag] | publishedPosts %}

<div class="content content--narrow">
  <h1 class="page-title" data-kanji="書">{{ tag | capitalize }} posts</h1>

  <p>{{ taglist.length }} posts in this category.
    <a href="{{ '/blog/tags/' | url }}">All tags &raquo;</a>
  </p>

  <div class="posts">
    <ul>
      {% for post in taglist | reverse %}
        <li>{{ post.date | formatDateFull }}:
          <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>