---
title: Notes
pagination:
  data: collections.notes
  size: 50
  alias: notes
permalink: "/notes/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}"
---

<ul>
{% for note in notes %}
  <li><a href="{{ note.url }}">{{ note.content | safe }}</a></li>
{% endfor %}
</ul>