---
permalink: /assets/javascripts/application.min.js
layout: null
---

import { Hub } from './hub.min.js';
import { Theme } from './theme.min.js';
import { Furigana } from './furigana.min.js';

document.addEventListener('DOMContentLoaded', (e) => {
  // Add age to about page
  function getAge(dateString) {
    const today = new Date();
    const birthDate = new Date(dateString);
    let age = today.getFullYear() - birthDate.getFullYear();
    const m = today.getMonth() - birthDate.getMonth();
    if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
      age--;
    }
    return age;
  }
  const ageContainer = document.querySelector('.age');
  if (ageContainer) {
    ageContainer.textContent = getAge(atob('MTk5My0wMi0yMg=='));
  }

  new Hub();
  new Theme();
  new Furigana();
});

const greetings = ['Hello', 'こんにちは', 'Hallo', 'Bonjour', 'Hola', 'Ciao', '안녕하세요', '你好'];
const greetingsContainer = document.querySelector('.greetings');
if (greetingsContainer) {
  setInterval(() => {
    let index = (greetings.indexOf(greetingsContainer.textContent) + 1) % greetings.length;
    greetingsContainer.textContent = greetings[index];
  }, 1000);
}