---
pagination:
  data: collections.notes
  size: 50
  alias: notes
permalink: 'notes/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}'
menuactive: notes
---

<div class="content content--narrow">
  <h1 class="page-title" data-kanji="書">Notes</h1>

  <div class="notes">
    {% for note in notes %}
      <div class="note">
        <div class="note__content">
          {{ note.content | safe }}
        </div>
        <div class="note__meta">
          {{ note.date | dateWithTime }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>