<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }} - {{ site.title }}</title>
    <meta name="description" content="Maximilian Boll - Frontend Web-Developer in Mainz/Germany - makkusu.dev"/>
    <meta name="robots" content="INDEX,FOLLOW"/>
    <meta name="keywords" content="maximilian boll, web developer, frontend developer, javascript, typescript, japanese, angular, eleventy"/>
    <meta name="author" content="Maximilian Boll"/>
    <meta name="generator" content="Eleventy"/> <!-- Open Graph -->
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ site.url }}"/>
    <meta property="og:site_name" content="makkusu.dev"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:title" content="Maximilian Boll - Frontend Web-Developer"/>
    <meta property="og:description" content="{{ title }}"/>
    <meta property="og:image" content="{{ site.url }}/assets/images/avatar.jpg"/>
    <meta property="og:image:width" content="500"/>
    <meta property="og:image:height" content="500"/>
    <meta property="og:image:alt" content="Avatar of Maximilian Boll"/> <!-- Feeds -->
    <link rel="alternate" href="/feed.xml" title="makkusu.dev Blog" type="application/atom+xml"/> <!-- Preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicons/apple-touch-icon.png' | url }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicons/favicon-32x32.png' | url }}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicons/favicon-16x16.png' | url }}"/>
    <link rel="manifest" href="{{ '/assets/images/favicons/site.webmanifest' | url }}"/>
    <link rel="mask-icon" href="{{ '/assets/images/favicons/safari-pinned-tab.svg' | url }}" color="{{ accentcolor }}"/>
    <link rel="shortcut icon" href="{{ '/assets/images/favicons/favicon.ico' | url }}"/>
    <meta name="apple-mobile-web-app-title" content="makkusu.dev"/>
    <meta name="application-name" content="makkusu.dev"/>
    <meta name="msapplication-TileColor" content="{{ accentcolor }}"/>
    <meta name="msapplication-config" content="{{ '/assets/images/favicons/browserconfig.xml' | url }}"/>
    <meta name="theme-color" content="{{ accentcolor }}"/>
    {%- if canonical -%}
    <link rel="canonical" href="{{ site.url + canonical | url }}"/>
    {%- else -%}
    <link rel="canonical" href="{{ site.url + page.url | url }}"/>
    {%- endif -%}
    {%- set css -%}
      {% include 'css/variables.css' %}
      {% include 'css/reset.css' %}
      {% include 'css/base.css' %}
      {% include 'css/theme-switcher.css' %}
      {% include 'css/topbar.css' %}
      {% include 'css/navigation.css' %}
      {% for style in styles %}
        {% include style %}
      {% endfor %}
    {% endset %}
    <style>{{ css | minifyCSS | safe }}</style>
  </head>
  <body>
    {% include 'components/topbar.njk' %}

    {{ content | safe }}

    {% include 'components/theme-switcher.njk' %}

    {%- set js -%}
      {% for script in scripts %}
        {% include script %}
      {% endfor %}
      {% include 'js/theme-switcher.js' %}
    {% endset %}
    <script>{{ js | minifyJS | safe }}</script>
  </body>
</html>
