---
title: Watching
permalink: /watching/
---

<div class="content content--wide">
  <div class="grid">
    <div class="grid__col-6">
      <h2>Movies</h2>

      <h3>2025</h3>
      <ul>
        <li></li>
      </ul>
    </div>
    <div class="grid__col-6">
      <h2>Shows</h2>

      <h3>2025</h3>
      <div class="grid">
        <div class="grid__col-4">
          <img src="https://media-cache.cinematerial.com/p/500x/ivvglv5y/better-call-saul-movie-poster.jpg?v=1521296871" alt="" />
        </div>
        <div class="grid__col-4">
          <img src="https://media-cache.cinematerial.com/p/500x/ghsasodn/one-piece-movie-poster.jpg?v=1691824489" alt="" />
        </div>
        <div class="grid__col-4">
          <img src="https://media-cache.cinematerial.com/p/500x/h1m9zlyr/house-of-cards-movie-poster.jpg?v=1456557751" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
