---
title: Page not found
permalink: 404.html
sitemap:
  exclude: true
---

<div class="content" style="min-height: calc(100vh - var(--topbar-height))">
  <h1 class="glitch" data-text="404">404</h1>
  <p style="text-align: center">Page not found. Please go back to the <a href="{{ '/' | url }}">main page</a>.</p>
</div>
