---
title: About me
menuactive: about
sitemap:
  priority: 0.8
---

<div class="content content--wide">
  <div class="grid">
    <div class="grid__col-12 grid__col-4-sm grid__col-5-md">
      <div class="about-image">
        <img src="/assets/images/max.webp" alt="Maximilian Boll">
      </div>
      <div class="about-image about-image--light">
        <img src="/assets/images/max-light.webp" alt="Maximilian Boll">
      </div>
    </div>
    <div class="grid__col-12 grid__col-8-sm grid__col-7-md grid__col--vcentered">
      <h3>Hi, my name is</h3>
      <h1 style="font-family:var(--ff-sans); font-weight: 900">Maximilian</h1>
      <p>Maximilian Boll, a <span class="age">??</span>-year-old based in Mainz, Germany, excels as a software developer with a specialization in frontend web development. Utilizing his expertise in JavaScript and Angular, he creates dynamic and user-friendly web applications.</p>
      <p>Since 2008, Maximilian has been curating his personal website, where he shares <a href="{{ '/projects/' | url }}">insights on coding</a>, along with <a href="{{ '/blog/' | url }}">personal reflections</a> and opinions. His platform serves as a repository of knowledge, particularly focused on web development and sharing resources for learning various subjects.</p>
      <p>In his leisure time, Maximilian is dedicated to learning Japanese and mastering the art of Speedcubing. His diverse <a href="{{ '/hobbies' | url }}">range of hobbies</a> reflects his enthusiasm for both intellectual and recreational pursuits.</p>
      <p>Maximilian continues to explore new and unconventional hobbies, embodying a spirit of curiosity and continuous learning.</p>
      {# <p>I’m a German based web-developer, <span class="age">??</span> years old and living in the beautiful city of Mainz.</p>
      <p>Besides programming web-applications and games I do a lot of other things. You can read more about my <a href="{{ '/hobbies/' | url }}">hobbies over here</a>.</p>
      <p>Feel free to wander around or drop me a message if you have any questions. You can find my socials on my <a href="{{ '/beacons/' | url }}">beacons page</a>.</p> #}
      <ul>
        <li>
          What I speak<br>
          <div class="tags" style="margin-top: .5rem;">
            <div class="tag">German (C2)</div>
            <div class="tag">English (C1)</div>
            <div class="tag">Japanese (N5)</div>
          </div>
        </li>
        <li>
          What I work with<br>
          <div class="tags" style="margin-top: .5rem;">
            <div class="tag">Angular</div>
            <div class="tag">HTML5</div>
            <div class="tag">CSS3 / SCSS</div>
            <div class="tag">Javascript</div>
            <div class="tag">Typescript</div>
            <div class="tag">MySQL</div>
          </div>
        </li>
        <li>
          Other devs<br>
          <div class="tags" style="margin-top: .5rem;">
            <a href="https://sirtetris.com/" class="tag" target="_blank" rel="nofollow">Tarek</a>
            <a href="https://lucasbonomi.com/" class="tag" target="_blank" rel="nofollow">Lucas</a>
            <a href="https://kevin.gimbel.dev/ops/" class="tag" target="_blank" rel="nofollow">Kevin</a>
            <a href="https://nerddis.co/" class="tag" target="_blank" rel="nofollow">Tim</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="content">
  <h2>Now...</h2>

  <ul>
    <li>...in <a href="{{ now.location.citylink }}" target="_blank">{{ now.location.city }}</a> {% if now.location.doinglink %}<a href="{{ now.location.doinglink }}" target="_blank">{{ now.location.doing }}</a>{% else %}{{ now.location.doing }}{% endif %}</li>
    <li>...reading <a href="{{ now.reading.url }}" target="_blank">{{ now.reading.title }}</a> by {{ now.reading.author }}</li>
    <li>...most listened song <a href="{{ now.listening.url }}" target="_blank">{{ now.listening.name }}</a> by {{ now.listening.artist }}</li>
    <li>...binge watching <a href="{{ now.watching.url }}" target="_blank">{{ now.watching.title }}</a></li>
    <li>...working for <a href="{{ now.working.url }}" target="_blank">{{ now.working.company }}</a></li>
  </ul>
</div>

<div class="content">
  <h2>Work / Experience</h2>
  <div class="timeline">
    {% for entry in experience %}
      <div class="timeline__entry" data-date-from="{{ entry.dateFrom | formatDate }}"{% if entry.dateUntil != '' %} data-date-until="{{ entry.dateUntil | formatDate }}"{% endif %}>
        <strong>{% if entry.position %}{{ entry.position }} @ {% endif %}{{ entry.name }}</strong>

        {% if entry.responsibilities %}
          <ul>
            {% for responsibility in entry.responsibilities %}
              <li>{{ responsibility }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
