---
title: Blog
menuactive: blog
pagination:
  data: collections.blog
  size: 10
  reverse: true
  alias: posts
sitemap:
  priority: 0.9
---

<div class="content content--wide">
  <h1>Blog</h1>

  <div class="posts">
    {% for post in posts %}
      {% include 'post.njk' %}
    {% endfor %}
  </div>
</div>