---
title: Blog
layout: base.njk
pagination:
    data: collections.blog
    size: 10
    alias: posts
    reverse: true
sitemap:
    priority: 0.9
---

<div class="floating-nav">
    <ul>
        {% for tag in collections.alltags %}
            <li><a href="{{ '/tag/' + tag.name }}">#{{ tag.name }} ({{ tag.posts }})</a></li>
        {% endfor %}
    </ul>
</div>

<div class="section">
    <div class="section__content section__content--wide align-c">
        <h1><a href="/"><span>綴・</span>Blog</a></h1>
        <h2>Might contain personal opinions.</h2>
    </div>

    <div class="section__content">
        <div class="posts">
            {%- for post in posts -%}
                <div class="posts__item grid">
                    <div class="posts__item-image grid__col--vcentered grid__col-4">
                        <a href="{{ post.url }}">
                            {% if post.data.image %}
                                <img src="{{ post.url }}{{ post.data.image }}" alt="" />
                            {% else %}
                                <img src="/assets/images/blog-post-default.png" alt="" />
                            {% endif %}
                        </a>
                    </div>
                    <div class="posts__item-text grid__col--vcentered grid__col-8">
                        <header class="posts__item-header">
                            <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
                            <div class="post__meta">
                                <div>{{ post.date | toFormattedDate }}</div>
                                {%- if post.data.tags -%}
                                    {%- for tag in post.data.tags -%}
                                        <a href="{{ '/tag/' + tag | url }}">#{{ tag }}</a>
                                    {%- endfor -%}
                                {%- endif -%}
                            </div>
                        </header>
                        <p class="post__excerpt">{{ post.data.excerpt }}&hellip; <a href="{{ post.url }}" class="link">Continue reading &rarr;</a></p>
                    </div>
                </div>
            {%- endfor -%}
        </div>

        {% include 'pagination.njk' %}
    </div>
</div>