---
title: Blog
menuactive: blog
pagination:
  data: collections.blog
  size: 10
  reverse: true
  alias: posts
sitemap:
  priority: 0.9
canonical: /blog/
---

<div class="content content--wide">
  <div class="posts">
    {% for post in posts %}
      {% include 'post.njk' %}
    {% endfor %}

    {% include 'pagination.njk' %}
  </div>
</div>