---
title: Hobbies
menuactive: hobbies
sitemap:
  priority: 0.8
---

<div class="content content--wide">
  {% for hobby in collections.hobbies %}
    <div class="hobby">
      <div class="hobby__image">
        <img src="{{ hobby.url + hobby.data.image | url }}" alt="{{ hobby.data.title }}">
      </div>
      <div class="hobby__data">
        <h2>{{ hobby.data.title }}</h2>
        <p>{{ hobby.content | safe }}</p>
      </div>
    </div>
  {% endfor %}
</div>