---
title: Maximilian Boll - Frontend Web-Developer - ようこそ
layout: base
sitemap:
    priority: 1.0
---

<div class="content content--wide">
    <div class="intro">
        <div class="greetings">Hello</div>
        <h1>Hi<span class="color-accent">!</span> I&rsquo;m Max<span class="color-accent">.</span></h1>
    </div>
    <div>Sections with Big Kanji, like former hub</div>
    <div>Overall Stats</div>
    <div>Latest 3 posts</div>
    <div>Buy me a coffee</div>
</div>