---
pagination:
  data: collections
  size: 1
  alias: tag
title: Blog posts tagged '{{ tag }}'
permalink: /blog/tag/{{ tag }}/
menuactive: blog
sitemap:
  priority: 0.6
---

{% set taglist = collections[tag] | publishedPosts %}

<div class="content content--wide">
  <h1>{{ tag }} posts</h1>

  <p>{{ taglist.length }} posts in this category. <a href="{{ '/blog/' | url }}">All tags &raquo;</a></p>
  
  <br>
  <br>
  <br>
  <br>

  <div class="posts">
    {% for post in taglist | reverse %}
      {% include 'post.njk' %}
    {% endfor %}
  </div>
</div>