html {
  scroll-behavior: smooth;
  font-size: 1.2rem;
}

body {
  font-family: var(--ff-serif);
  background-color: var(--c-elevation-0);
  color: var(--c-copy);
}

img {
  max-width: 100%;
}

a {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

::selection {
  background-color: var(--c-copy);
  color: var(--c-elevation-0);
}
::-moz-selection {
  background-color: var(--c-copy);
  color: var(--c-elevation-0);
}

.centered {
  text-align: center;
}

.page-title {
  position: relative;

  &:before {
    content: attr(data-kanji);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2em;
    opacity: 0.05;
    /* background-clip: unset; */
  }
}

.content {
  display: grid;
  grid-template-columns:
    minmax(1rem, 1fr) minmax(auto, var(--max-content-width))
    minmax(1rem, 1fr);
  grid-template-rows: max-content;
  padding: 4rem 0;
  /* font-size: 18px; */
  line-height: 1.8;
  overflow-x: clip;

  &.content--wide {
    grid-template-columns:
      minmax(1rem, 1fr) minmax(auto, var(--max-content-width-wide))
      minmax(1rem, 1fr);
  }

  &.content--narrow {
    grid-template-columns:
      minmax(1rem, 1fr) minmax(auto, var(--max-content-width-narrow))
      minmax(1rem, 1fr);
  }

  &.content--background {
    position: relative;
    background-color: var(--c-elevation-1);

    /* &:before {
      content: '';
      position: absolute;
      background-color: var(--c-elevation-1);
      inset: -2rem 0;
      transform: rotate(calc(var(--skew) * 1deg));
    } */

    /* &:before,
    &:after {
      content: '';
      position: absolute;
      background-color: var(--c-elevation-1);
      width: 100%;
      height: 4rem;
      top: -4rem;
      clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
    }

    &:after {
      top: unset;
      bottom: -4rem;
      rotate: 180deg;
    } */
  }

  > * {
    grid-column: 2;
  }

  h1 {
    font-family: var(--ff-sans);
    font-size: clamp(40px, 8vw, 60px);
    font-weight: 900;
    /* line-height: 1; */
    /* background-image: linear-gradient(to bottom right, var(--c-accent), #3C5F9F); */
    /* background-attachment: fixed; */
    /* background-clip: text; */
    /* color: transparent; */
    color: var(--c-accent);
    /* color: transparent; */
    margin-bottom: 2rem;
    /* background-image: linear-gradient(to right, var(--c-accent), var(--c-accent-2));
    background-clip: text; */
  }

  h2 {
    font-size: 2rem;
    font-weight: 900;
    color: var(--c-copy);
    font-family: var(--ff-sans);
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    line-height: 1.2;
    /* background-image: linear-gradient(to right, var(--c-accent), #fff);
    background-attachment: fixed;
    background-clip: text;
    color: transparent; */
    /* color: var(--c-accent); */
  }

  h3 {
    font-family: var(--ff-sans);
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--c-copy);
    line-height: 1.2;
    /* background-image: linear-gradient(to bottom right, var(--c-accent), #3C5F9F); */
    /* background-attachment: fixed; */
    /* background-clip: text; */
    /* color: transparent; */
  }

  /* p,
  ul,
  ol {
    & + * {
      margin-top: 1rem;
    }
  } */
  ul:not(.link-list) {
    list-style: none;
    margin: 2rem auto;

    li {
      position: relative;
      padding-left: 1rem;

      & + li {
        margin-top: 1rem;
      }

      &:before {
        content: '»';
        position: absolute;
        color: var(--c-accent);
        top: 0;
        left: 0;
      }
    }
  }

  ol {
    padding-left: 1rem;
  }

  a:not(.blog-card):not(.friend):not(.tag) {
    border-bottom: 2px solid var(--c-accent);
    color: var(--c-copy);

    &:hover {
      background-color: var(--c-accent);
    }
  }

  small {
    font-size: 0.5rem;
  }
}

.about-image {
  mask: linear-gradient(black 40%, transparent);

  @media screen and (max-width: 575px) {
    mask: unset;
    width: 50vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 5px solid #fff;
    overflow: hidden;
    margin: 0 auto;
    background-color: rgba(var(--c-copy-rgb), 0.1);
  }

  &.about-image--light {
    display: none;
  }
}

.color-accent {
  color: var(--c-accent);
}

.intro {
  min-height: 50vh;
  display: grid;
  place-items: center;

  h1 {
    text-align: center;
    color: var(--c-copy);
    background: none;
    font-weight: 500;
  }

  p {
    max-width: var(--max-content-width-narrow);
    margin: 0 auto;
  }

  .greetings {
    --cursorWidth: 0.6em;
    --cursorTickness: 0.1em;
    --width: auto;

    position: relative;
    padding-right: calc(var(--cursorWidth) + 0em);
    /* border: 1px solid red; */
    line-height: 1;
    width: var(--width);
    display: inline-block;
    white-space: nowrap;
    text-align: right;

    &:after {
      content: '';
      position: absolute;
      /* right: 0em; */
      bottom: 0em;
      width: var(--cursorWidth);
      height: var(--cursorTickness);
      background-color: var(--c-copy);
      animation: blink 1s infinite steps(2, start);
      border-radius: 2px;
    }
  }
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}

.tech {
  display: grid;
  grid-template-columns: repeat(var(--columns, 0), 1fr);
  gap: 2px;

  .tech-stack {
    .tech-stack__title {
      padding: 0.5rem;
      font-weight: 600;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 2px;

      li {
        background-color: var(--c-elevation-1);
        padding: 0.5rem;
        display: flex;
        align-items: center;

        svg {
          /* height: 32px; */
          width: 32px;
          vertical-align: middle;
          margin-right: 1rem;
        }

        span {
          height: 32px;
          display: inline-block;
        }

        &:before {
          content: unset;
        }

        & + li {
          margin-top: unset;
        }
      }
    }
  }

  @media screen and (max-width: 860px) {
    grid-template-columns: repeat(calc(var(--columns, 0) / 2), 1fr);
  }
}

.friends {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  .friend {
    width: 100%;
    display: grid;
    place-items: center;
    aspect-ratio: 1 / 1;
    background-color: var(--c-elevation-1);
    border-radius: 50%;
    border: 5px solid var(--c-accent-2);
    color: var(--c-accent-2);
    font-weight: 600;

    &:hover {
      scale: 1.1;
      border-color: var(--c-accent);
      color: var(--c-accent);
    }
    &:active {
      scale: 1.05;
    }
  }
}

.link-list {
  list-style: none;

  li + li {
    margin-top: 1rem;
  }

  .link-list__title {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;

    a {
      border-bottom: 0 !important;
      text-decoration: underline !important;
    }

    hr {
      width: 100%;
      border: 1px dashed var(--c-elevation-1);
    }
  }

  .link-list__description {
    padding-left: 1rem;
    font-size: 0.75rem;
  }
}

.languages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;

  .language {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;

    > * {
      grid-column: 1;
      grid-row: 1;
    }

    .language__flag {
      /* font-size: 4rem; */
      line-height: 1;
      text-align: center;

      span {
        font-size: 1rem;
        display: block;
      }

      svg {
        height: 32px;
        margin: 0.5rem 0;
        border-radius: 5px;
      }
    }

    --canvas-width: 12.5em;
    --stroke-width: 1.25em;

    --radius: calc(50% - (1.25em / 2));
    --pi: 3.14159265358979;
    --circumference: calc(2 * var(--radius) * var(--pi));
    --degconst: var(--circumference) / 360;

    --initial: 0; /* 0 - 360 */
    --target: 300; /* 0 - 360 */
    --speed: 0.27; /* 0 - 1 */

    --deltaPos: calc(var(--target) - var(--initial)); /* Use if target > initial */
    --deltaNeg: calc(var(--initial) - var(--target)); /* Use if target < initial */
    --animation-duration: calc((1 / var(--speed) * 500ms) + (var(--deltaPos) / 360) * (1 / var(--speed) * 500ms));

    .progress-circle {
      transform: rotate(-90deg);
      width: var(--canvas-width);
      aspect-ratio: 1;
    }
    .background {
      stroke: var(--c-elevation-1);
      stroke-width: var(--stroke-width);
      fill: transparent;
    }
    .foreground {
      stroke: var(--c-accent-2);
      stroke-width: var(--stroke-width);
      fill: transparent;
      stroke-dasharray: var(--circumference);
      stroke-dashoffset: calc((360 - var(--initial)) * var(--degconst));
      stroke-linecap: round;
      /* animation: dash var(--animation-duration) ease-in forwards 1; */
      animation-name: dash;
      animation-timeline: view(block);
      animation-range: entry 50% cover 40%;
      animation-duration: var(--animation-duration);
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
    }
  }

  @media screen and (max-width: 860px) {
    grid-template-columns: 1fr;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: calc((360 - var(--target)) * var(--degconst));
  }
}

.blog-card {
  background-color: var(--c-elevation-1);
  border-radius: 1rem;
  overflow: hidden;
  display: block;
  color: var(--c-copy);
  transition: all 0.2s var(--tf-cubic);

  &:hover {
    scale: 1.1;
  }
  &:active {
    scale: 1.05;
  }

  .blog-card__image {
    img {
      aspect-ratio: 16 / 9;
      display: block;
      object-fit: cover;
    }
  }

  .blog-card__content {
    padding: 1rem;

    h3 {
      line-clamp: 1;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      font-weight: 600;
      overflow: hidden;
    }

    p {
      line-clamp: 3;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .blog-card__meta {
    font-size: 0.75rem;
    opacity: 0.5;
    text-align: right;
  }
}

@property --statCounter {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}
.stat {
  display: grid;
  place-items: center;
  line-height: 1;

  [class^='fa-'] {
    font-size: 2rem;
    color: var(--c-accent);
  }

  .stat__number {
    --statNumber: 10;
    font-size: 3rem;
    font-weight: 900;
    margin: 1rem 0;
    /* counter-reset: statCounter var(--statCounter);
    animation: countUp 5s 1 linear forwards;
    animation-timeline: view(block);
    animation-range: entry 50% contain 40%; */

    /* &:before {
      content: counter(statCounter);
    } */
  }

  .stat__label {
    opacity: 0.5;
  }
}

@keyframes countUp {
  to {
    --statCounter: var(--statNumber);
  }
}
