body {
    background-color: #121212;
    color: #ccc;
    font-size: 18px;
    line-height: 1.4;
    font-family: var(--ff-serif);
    opacity: 1;
    transition: opacity .1s linear;
    scrollbar-width: thin;
    scrollbar-color: var(--c-sb-thumb) var(--c-sb-track);

    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: var(--c-sb-track);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--c-sb-thumb);
        border-radius: 5px;
        border: 2px solid #121212;
    }

    &.waiting {
        opacity: 0;
    }
}

::-moz-selection {
    background: #ddd;
    color: #333;
    text-shadow: none;
}
::selection {
    background: #ddd;
    color: #333;
    text-shadow: none;
}

h1 {
    font-family: var(--ff-sans);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3em;
    
    span {
        color: var(--c-primary);
        // font-size: .75em;
        display: inline-block;
        margin: 0 var(--gutter-s);
        vertical-align: middle;
        font-family: monospace;
    }
}

h2 {
    font-family: var(--ff-serif);
    font-size: 1.5em;
    opacity: .5;
    margin-bottom: var(--gutter-l);
}

h3 {
    color: var(--c-primary);
    font-family: var(--ff-sans);
    font-weight: 900;
    font-size: 1.25em;
    margin-bottom: var(--gutter-s);
}

h4 {
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    font-family: var(--ff-sans);
}

.link {
    border-bottom: 2px solid var(--c-primary);
    color: #fff;

    &:hover {
        border-color: #fff;
    }
}

.c-primary {
    color: var(--c-primary);
}

.ff-sans {
    font-family: var(--ff-sans);
}

.fs-lg {
    font-size: 26px;
}
.fs-sm {
    font-size: 14px;
}

.align-c {
    text-align: center;
}