html, body {
    scroll-behavior: smooth;
    font-size: 18px;
}

body {
    background-color: var(--c-dark);
    color: #ccc;
    line-height: 1.4;
    font-family: var(--ff-serif);
    opacity: 1;
    transition: opacity .1s linear;
    scrollbar-width: thin;
    scrollbar-color: var(--c-sb-thumb) var(--c-sb-track);

    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: var(--c-sb-track);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--c-sb-thumb);
        border-radius: 5px;
        border: 2px solid #121212;
    }

    &.waiting {
        opacity: 0;
    }
}

::-moz-selection {
    background: #ddd;
    color: #333;
    text-shadow: none;
}
::selection {
    background: #ddd;
    color: #333;
    text-shadow: none;
}

h1 {
    font-family: var(--ff-sans);
    text-transform: uppercase;
    font-weight: 900;
    font-size: clamp(var(--fs-xl), 5vw, var(--fs-xxl));
    
    span {
        color: var(--c-primary);
        display: inline-block;
        margin: 0 var(--gutter-s);
        vertical-align: middle;
        font-family: monospace;
    }
}

h2 {
    font-family: var(--ff-serif);
    font-size: clamp(var(--fs-lg), 2.5vw, var(--fs-xl));
    color: rgba(#ccc, .5);
    margin-bottom: var(--gutter-l);

    span {
        color: var(--c-primary);
    }
}

h3 {
    color: var(--c-primary);
    font-family: var(--ff-sans);
    font-weight: 900;
    font-size: var(--fs-lg);
    margin-bottom: var(--gutter-s);
}

h4 {
    font-size: var(--fs-m);
    font-weight: 900;
    text-transform: uppercase;
    font-family: var(--ff-sans);
}

a {
    color: currentColor;
    transition: all .3s ease;
}

hr {
    width: 33%;
    margin: var(--gutter-l) auto;
    height: 2px;
    border: 0;
    background-color: var(--c-primary);
}

p {
    margin-bottom: var(--gutter-m);

    code {
        --corner: var(--gutter-s);
        background-color: #000;
        font-family: var(--ff-mono);
        font-size: var(--fs-sm);
        vertical-align: middle;
        padding: var(--gutter-xs) var(--gutter-s);
        display: inline-block;
        clip-path: polygon(
            var(--corner) 0,
            100% 0,
            100% calc(100% - var(--corner)),
            calc(100% - var(--corner)) 100%,
            0% 100%,
            0% var(--corner)
        );
    }
}

blockquote {
    position: relative;
    
    &:before {
        content: "“";
        position: absolute;
        font-size: 10em;
        color: rgba(#fff, .1);
        z-index: -1;
        line-height: 1;
        top: 0;
        left: 0;
        transform: translate(-50%, -25%);
    }

    p {
        opacity: .66;
        font-size: var(--fs-lg);
        text-align: center;

        // &:first-of-type:before {
        //     content: "“";
        // }
    
        // &:nth-last-child(2):after {
        //     content: "”";
        // }
    
        &:last-of-type:not(:first-of-type) {
            font-size: var(--fs-sm);
            opacity: 1;
            color: var(--c-primary);
            text-align: right;

            &:before {
                content: "~";
            }
        }
    }

}

.link {
    border-bottom: 2px solid var(--c-primary);
    color: #fff;

    &:hover {
        border-color: #fff;
    }
}

.c-primary {
    color: var(--c-primary);
}

.ff-sans {
    font-family: var(--ff-sans);
}

.fs-xl {
    font-size: var(--fs-xl);
}
.fs-sm {
    font-size: var(--fs-sm);
}

.align-c {
    text-align: center;
}