.books {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .book {
    background-color: var(--c-elevation-1);
    padding: 1rem;
    border-radius: 1rem;

    .book__title {
      display: grid;
      grid-template-columns: max-content 1fr max-content;
      align-items: center;
      gap: 0 1rem;
      margin-bottom: 1rem;

      [class^='fa-'] {
        color: var(--c-accent);
      }

      h3 {
        margin: 0;
      }
    }

    .book__author {
      grid-column: span 3;
      opacity: 0.75;
      font-size: 0.75rem;

      &:before {
        content: 'by ';
      }
    }

    .book__progress {
      font-size: 0.75rem;
    }

    .book__progress-bar {
      position: relative;
      width: 100%;
      height: 5px;
      border-radius: 3px;
      background-color: var(--c-elevation-1);
      overflow: hidden;

      &:before {
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: calc(var(--progress, 0) * 1%);
        background-image: linear-gradient(to right, var(--c-accent) calc(100% - 5px), #fff 0);
        position: absolute;
      }
    }

    .book__status {
      background-color: var(--c-elevation-1);
      padding: 0.5rem;
      font-size: 0.75rem;
      border-radius: 5px;
      line-height: 1;
    }
  }
}
