.button-set {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.button {
  display: inline-block;
  padding: 0.5rem 2rem;
  text-decoration: none;
  border-radius: 0.33rem;

  &.button--primary {
    border: 2px solid var(--c-accent);
  }

  &.button--secondary {
    background-color: var(--c-elevation-1);
  }
}
