.floating-nav {
    --corner: var(--gutter-s);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(calc(-100% - var(--w-medium) / 2 - var(--gutter-m)));

    &__link--highlight {
        background-color: var(--c-primary);
        color: var(--c-light);
    }

    ul {
        li {
            a {
                display: block;
                padding: var(--gutter-xs) var(--gutter-s);
                font-family: var(--ff-sans);
                text-align: right;
                text-transform: uppercase;
                font-size: var(--fs-sm);
                clip-path: polygon(
                    var(--corner) 0,
                    100% 0,
                    100% calc(100% - var(--corner)),
                    calc(100% - var(--corner)) 100%,
                    0% 100%,
                    0% var(--corner)
                );
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .floating-nav {
        position: relative;
        transform: unset;
        top: unset;
        left: unset;

        ul {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;

            li {
                a {
                    text-align: unset;
                    border-bottom: 2px dotted var(--c-primary);
                    padding-left: unset;
                    padding-right: unset;
                    margin: 0 var(--gutter-xs);
                    clip-path: unset;
                }
            }
        }
    }
}