.footer {
    text-align: center;
    padding: var(--gutter-xs) var(--gutter-m);
    font-family: var(--ff-sans);
    font-size: 12px;
    opacity: .25;
    margin-top: var(--gutter-xl);

    a {
        color: #fff;
        border-bottom: 0;

        &:hover {
            color: var(--c-primary);
        }
    }

    img {
        display: inline-block;
        width: 24px;
        vertical-align: middle;
    }
}