*+.hobby, .hobby+* {
    margin-top: var(--gutter-l);
}

.hobby {
    --corner: 50px;

    &+.hobby {
        margin-top: var(--gutter-xxl);
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--gutter-l) var(--gutter-m);
        background-image: var(--bg);
        background-size: cover;
        background-position: center;
        margin-bottom: var(--gutter-m);
        clip-path: polygon(
            var(--corner) 0,
            100% 0,
            100% calc(100% - var(--corner)),
            calc(100% - var(--corner)) 100%,
            0% 100%,
            0% var(--corner)
        );
    }

    &__label {
        --corner: var(--gutter-m);

        background-color: rgba(#000, .75);
        // backdrop-filter: blur(5px);
        padding: var(--gutter-s) var(--gutter-m);
        font-family: var(--ff-brush);
        font-size: var(--fs-xxl);
        color: var(--c-light);
        clip-path: polygon(
            var(--corner) 0,
            100% 0,
            100% calc(100% - var(--corner)),
            calc(100% - var(--corner)) 100%,
            0% 100%,
            0% var(--corner)
        );

    }

    @media screen and (max-width: 768px) {
        --corner: var(--gutter-m);

        &__label {
            --corner: var(--gutter-s);
            
            font-size: var(--fs-xl);
        }
    }
}