*+.hobby, .hobby+* {
    margin-top: var(--gutter-l);
}

.hobby {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    &+.hobby {
        margin-top: var(--gutter-xl);
    }

    &__image, &__info {
        flex: 0 0 50%;
    }

    &__info {
        padding-left: 10%;
        padding-right: var(--gutter-m);
        text-align: right;
    }
    
    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: var(--bg);
        background-size: cover;
        background-position: center;

        &+.hobby__info {
            padding-left: var(--gutter-m);
            padding-right: 10%;
            text-align: left;
        }
    }

    &__label {
        background-color: rgba(#fff, .25);
        backdrop-filter: blur(5px);
        padding: var(--gutter-m);
        border-radius: 1em;
        font-family: var(--ff-brush);
        font-size: 2em;
        color: var(--c-dark);
    }
}