*+.hobby, .hobby+* {
    margin-top: var(--gutter-l);
}

.hobby {
    display: flex;
    flex-direction: row;
    align-items: center;

    &+.hobby {
        margin-top: var(--gutter-xl);
    }

    &__image, &__info {
        flex: 0 0 50%;
    }

    &__info {
        padding-left: 10%;
        padding-right: var(--gutter-m);
        text-align: right;
    }
    
    &__image {
        &+.hobby__info {
            padding-left: var(--gutter-m);
            padding-right: 10%;
            text-align: left;
        }
    }
}