.hub {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  
  .hub__col {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .hub__col--wide {
    flex: 1;
  }
  
  .hub__link {
    display: block;
    color: rgba(var(--c-copy-rgb), .5);
    font-size: 5vw;
    font-family: var(--ff-sans);
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease;
    
    &:hover:not(.hub__link--locked) {
      color: var(--c-copy);
      text-shadow: 0 0 .5em var(--c-accent),
      0 0 1em var(--c-accent),
      0 0 1.5em var(--c-copy);
    }
  }
  
  .hub__kanji {
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    font-family: var(--ff-japanese);
    font-size: 50vh;
    transform: translate3d(-50%, -40%, 0);
    color: rgba(var(--c-copy-rgb), .05);
    transition: all 1s ease;
    user-select: none;
    z-index: 0;
  }
  .hub__kanji--visible {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
  }
  
  .hub__title {
    font-family: var(--ff-japanese);
    user-select: none;
    color: var(--c-copy);

    div {
      writing-mode: vertical-rl;
      font-size: 25vh;
      /* text-shadow: 0 0 10px rgba(#000, .5); */
    }
    
    span {
      writing-mode: horizontal-tb;
      font-size: 2.5vh;
      text-align: center;
      display: block;
    }
  }
}

@media screen and (max-width: 750px) {
  .hub {
    flex-direction: column;
    
    .hub__col {
      justify-content: space-around;
      &:nth-of-type(1) {
        order: 2;
      }
      &:nth-child(2) {
        order: 1;
      }
      &:nth-child(3) {
        order: 3;
      }
    }
    
    .hub__link {
      font-size: 10vw;
    }
    
    .hub__title {
      color: var(--c-accent);

      div {
        writing-mode: unset;
        font-size: clamp(2rem, 15vw, 6rem);
        letter-spacing: -0.1em;
      }
      
      span {
        display: none;
        /* font-size: 2rem; */
        /* letter-spacing: normal; */
      }
    }
  }
}