ul {
    list-style: none;

    li {
        position: relative;
        padding-left: calc(.5em + var(--gutter-s));
        line-height: 1.4;

        &:before {
            content: '';
            position: absolute;
            transform: translate(0, .6em);
            left: 0;
            width: .5em;
            height: .5em;
            border-radius: 50%;
            background-color: var(--c-primary);
        }

        &+li {
            margin-top: var(--gutter-s);
        }
    }
}

.list {
    list-style: none;

    li {
        background-color: rgba(#000, .25);
        padding: var(--gutter-xs) var(--gutter-s);

        &:before {
            display: none;
        }

        &+li {
            margin-top: 2px;
        }

        ul {
            padding-left: var(--gutter-s);
        }
    }
}

ol.list {
    counter-reset: item;

    li {
        counter-increment: item;

        &:before {
            content: counter(item) '.';
            display: inline-block;
            margin-right: var(--gutter-xs);
            color: var(--c-primary);
            font-weight: 900;
        }
    }
}