.main-nav {
  align-self: stretch;
  height: 100%;

  ul {
    list-style: none;
    display: flex;
    height: 100%;
    counter-reset: item;
  }

  .main-nav__link {
    counter-increment: item;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--c-copy);
    font-family: var(--ff-mono);
    text-decoration: none;

    &:before {
      content: '/';
      /* margin-right: 0.25rem; */
      /* font-size: 0.75rem; */
      color: var(--c-accent);
    }

    &:hover {
      background-color: rgba(var(--c-copy-rgb), 0.1);
    }
  }
  .main-nav__link--active {
    background-color: rgba(var(--c-copy-rgb), 0.05);
  }
}

.mobile-nav-button {
  display: none;

  position: relative;
  height: 100%;
  z-index: 200;
  aspect-ratio: 1/1;
  background-image: linear-gradient(var(--c-copy), var(--c-copy));
  background-size: 50% 4px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease-in-out;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 4px;
    background-color: var(--c-copy);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transition: all 0.3s ease-in-out;
  }

  &:before {
    top: calc(50% - 8px);
  }

  &:after {
    top: calc(50% + 8px);
  }

  input {
    display: none;
  }

  &:has(input:is(:checked)) {
    background-image: linear-gradient(transparent, transparent);

    &:before,
    &:after {
      top: 50%;
    }

    &:before {
      rotate: -45deg;
    }

    &:after {
      rotate: 45deg;
    }

    & + .main-nav {
      translate: 0% 0%;
    }
  }
}

@media screen and (max-width: 860px) {
  .main-nav {
    position: fixed;
    z-index: 150;
    width: 100vw;
    height: 100vh;
    translate: 0% 100%;
    transition: all 0.3s ease-in-out;
    left: 0;
    top: 0;

    &:before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: var(--c-elevation-0);
      z-index: -1;
      opacity: 0.9;
    }

    ul {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }

    .main-nav__link {
      font-size: 6vmax;
      opacity: 0.75;

      &:before {
        content: unset;
      }
    }
    .main-nav__link--active {
      background-color: transparent;
      opacity: 1;
      /* border-bottom: 2px solid var(--c-accent); */

      &:before,
      &:after {
        color: var(--c-accent);
        font-family: var(--ff-mono);
        font-size: 7.5vw;
      }

      &:before {
        content: '»';
        margin-right: 1rem;
      }
      &:after {
        content: '«';
        margin-left: 1rem;
      }
    }
  }

  .mobile-nav-button {
    display: block;
  }
}
