.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-sans);
  margin: 2rem auto;

  >*+* {
    margin-left: 1rem;
  }

  .pagination__link {
    display: block;
    border: 2px solid var(--c-copy) !important;
    opacity: .5;
    padding: .5rem 1rem;
    border-radius: 5px;

    &:hover {
      border-color: var(--c-accent);
      opacity: 1;
    }
  }

  .pagination__link--hidden {
    visibility: hidden;
  }

  .pagination__link--highlight {
    opacity: 1;
  }
}

@media screen and (max-width: 680px) {
  .pagination {
    display: grid;
    grid-template-areas: "page page"
      "lefttop righttop"
      "leftbottom rightbottom";
    gap: 1rem;

    >*+* {
      margin: unset;
    }
    
    > div {
      text-align: center;
      grid-area: page;

      &:before {
        content: "Page ";
      }
    }

    .pagination__link {
      &.pagination--newest {
        grid-area: leftbottom;
        text-align: left;
      }
      &.pagination--newer {
        grid-area: lefttop;
        text-align: left;
      }
      &.pagination--older {
        grid-area: righttop;
        text-align: right;
      }
      &.pagination--oldest {
        grid-area: rightbottom;
        text-align: right;
      }
    }
  }
}