.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-sans);
    margin: var(--gutter-xl) auto;

    >*+* {
        margin-left: var(--gutter-m);
    }

    &__link {
        display: block;
        border: 2px solid #fff;
        opacity: .5;
        padding: var(--gutter-xs) var(--gutter-s);
        border-radius: 5px;

        &:hover {
            border-color: var(--c-primary);
            opacity: 1;
        }
    }
}