.posts {
    &--list {
        .posts__item {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
            padding: var(--gutter-s);

            &:hover {
                background-color: rgba(#fff, .05);
            }

            &+.posts__item {
                border-top: 2px solid rgba(#fff, .2);
            }
        }
    }
    
    &__item {
        img {
            display: block;
        }
    }
    
    &__item-date {
        margin-right: var(--gutter-m);
        background-color: var(--c-primary);
        padding: var(--gutter-xs);
        font-family: var(--ff-mono);
        border-radius: 3px;
        line-height: 1;
    }

    &__item-header {
        border-bottom: 2px solid rgba(#fff, .2);
        padding-bottom: var(--gutter-s);
        margin-bottom: var(--gutter-s);
    }
}

.post {
    &__back {
        position: fixed;
        top: var(--gutter-m);
        left: var(--gutter-m);
        font-size: 48px;
        text-shadow: 0 0 10px var(--c-dark);

        &:hover {
            color: var(--c-primary);
        }
    }

    &__progress {
        --w: 0%;

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 8px;
        z-index: 10;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: var(--w);
            height: 100%;
            z-index: 10;
            background-color: var(--c-primary);
            transition: width .3s ease;
        }
    }

    &__meta {
        display: flex;

        > * {
            display: block;
            background-color: rgba(#000, .25);
            padding: var(--gutter-xs);
            font-size: .75em;
            font-family: var(--ff-mono);
            border-radius: 3px;

            &+* {
                margin-left: var(--gutter-xs);
            }
        }

        > a:hover {
            background-color: var(--c-primary);
            color: #000;
        }
    }

    &__excerpt {
        .link {
            white-space: nowrap;
        }
    }

    &__content {
        --gutter: 100px;

        width: 100%;
        max-width: calc(700px + (var(--gutter) * 2) + (var(--gutter-m) * 2));
        padding-right: var(--gutter-m);
        padding-left: var(--gutter-m);
        margin-left: auto;
        margin-right: auto;

        > * {
            max-width: calc(100% - (var(--gutter) * 2));
            margin-left: auto;
            margin-right: auto;
            
            &+*:not(h1, h2, h3, h4, h5, h6) {
                margin-top: var(--gutter-m);
            }

            &:not(h1, h2, h3, h4, h5, h6) {
                &+h1, &+h2, &+h3, &+h4, &+h5, &+h6 {
                    margin-top: var(--gutter-xl);
                }
            }
        }

        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 0;
        }

        h1 {
            font-size: 2em;
            text-transform: capitalize;
        }

        pre, blockquote {
            max-width: 100%;
            margin: var(--gutter-xl) 0;
        }

        em {
            font-style: italic;
        }

        strong {
            font-weight: 900;
        }

        hr {
            margin: var(--gutter-xl) auto;
        }

        p {
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            a {
                border-bottom: 2px solid rgba(#fff, .2);

                &:hover {
                    border-color: var(--c-primary);
                }
            }
        }
    }
}