.posts {
  display: grid;
  gap: 4rem;
}

.post {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;

  @media (prefers-reduced-motion: no-preference) {
    opacity: 0;
    scale: 0.5;
    animation: fadeInPost both linear;
    animation-timeline: view();
    animation-range: entry 0% entry 50vh;
  }

  &.post--coding {
    .post__data {
      grid-column: 9 / -1;
    }
    &.post:nth-child(even) .post__data {
      grid-column: 1 / 5;
    }
  }

  &:hover {
    .post__image {
      &:before {
        opacity: 0;
      }

      img {
        scale: 1.2;
      }
    }
  }

  .post__image,
  .post__data {
    grid-row: 1;
  }

  .post__image {
    position: relative;
    grid-column: 1 / 8;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
    z-index: 0;
    overflow: hidden;
    border-bottom: 0 !important;

    &:has(img):before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 1;
      background-color: var(--c-elevation-0);
      /* mix-blend-mode: screen; */
      opacity: 0.5;
      transition: opacity 0.3s ease;
    }

    img,
    iframe {
      position: relative;
      z-index: 0;
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      display: block;
      border-radius: 5px;
      transition: scale 1s ease;
    }
  }

  .post__data {
    grid-column: 7 / -1;
    z-index: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .post__title {
    display: block !important;
    font-size: 1.5rem !important;
    margin-bottom: 0 !important;

    a {
      border-bottom: 0;

      &:hover {
        background-color: transparent;
      }
    }

    &:after {
      display: none;
    }
  }

  .post__date {
    font-family: var(--ff-mono);
    font-size: 1rem;
    color: var(--c-accent);
  }

  .post__excerpt {
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    background-color: var(--c-elevation-1);
    margin: 2rem 0;
  }

  .post__readmore {
    margin-top: 0 !important;
  }

  .post__tags {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 0 !important;
  }

  .post__tag {
    padding: 0 !important;
    font-family: var(--ff-mono);
    font-size: 1rem;

    & + .post__tag {
      margin-top: 0 !important;
    }

    &:before {
      display: none;
    }
  }

  &:nth-child(even) {
    .post__image {
      grid-column: 6 / -1;
    }

    .post__data {
      grid-column: 1 / 7;
      text-align: left;
      align-items: flex-start;
    }

    .post__tags {
      justify-content: flex-start;
    }
  }
}

.post-hero {
  display: grid;
  position: relative;
  min-height: 66vh;
  top: calc(var(--topbar-height) * -1);
  margin-bottom: calc(var(--topbar-height) * -1);
  place-items: center;
  overflow-x: clip;

  &:before {
    /* content: ''; */
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(to bottom, transparent, var(--c-elevation-0));
  }

  .post-hero__title {
    font-family: var(--ff-sans);
    font-size: clamp(40px, 8vw, 60px);
    font-weight: 900;
    /* background-image: linear-gradient(to bottom right, var(--c-accent), #3C5F9F); */
    /* background-attachment: fixed; */
    /* background-clip: text; */
    /* color: transparent; */
    text-align: center;

    @supports (animation-timeline: view()) {
      @media (prefers-reduced-motion: no-preference) {
        animation: hero-title-fade-out both linear;
        animation-timeline: view();
        animation-range: exit calc(-200px - var(--topbar-height));
      }
    }
  }

  .post-hero__cover {
    grid-column: 1 / -1;
    position: absolute;
    inset: 0;
    opacity: 0.5;
    z-index: -2;

    @supports (animation-timeline: view()) {
      @media (prefers-reduced-motion: no-preference) {
        /* transform-origin: bottom; */
        animation: hero-cover-animation both linear;
        animation-timeline: view();
        animation-range: exit;
      }
    }
    @supports not (animation-timeline: view()) {
      filter: blur(5px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
@keyframes hero-title-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes hero-cover-animation {
  from {
    opacity: 0.5;
    scale: 1;
    filter: blur(0px);
  }
  to {
    opacity: 0;
    scale: 2;
    filter: blur(5px);
  }
}

.post-detail {
  min-width: 0; /* Trick to make max-width work on pre */
  line-height: 1.8;

  .post-detail__meta {
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-family: var(--ff-sans);
    line-height: 1;
  }

  .post-detail__avatar {
    img {
      border-radius: 50%;
      width: 32px;
    }
  }

  .post-detail__date {
    margin-left: auto;
    color: var(--c-accent);
  }

  > * {
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;

    /* & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: 4rem;
    } */
  }

  p {
    margin-bottom: 1rem;
  }

  hr {
    border-bottom: 2px dotted var(--c-accent);
    width: 33%;
    margin: 4rem auto;
  }

  *:not(pre) > code {
    background-color: var(--c-elevation-1);
    font-family: var(--ff-mono);
    padding: 0.25rem;
    border-radius: 3px;
  }

  iframe,
  pre,
  p:has(img) {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
    max-width: var(--max-content-width-wide);
    width: auto;
    text-align: center;
  }

  iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }

  blockquote {
    position: relative;
    border-left: 4px solid var(--c-accent);
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    font-family: var(--ff-sans);
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.2;

    h6:not(:first-child):last-child {
      font-size: 1rem;
      font-weight: 400;
      font-family: var(--ff-serif);
      opacity: 0.5;

      &:before {
        content: '—';
      }
    }

    &:after {
      content: '”';
      line-height: 1;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 10rem;
      color: rgba(var(--c-copy-rgb), 0.1);
      font-weight: 900;
    }
  }

  table {
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-family: var(--ff-sans);
    background-color: rgba(var(--c-copy-rgb), 0.02);

    th,
    td {
      padding: 0.5rem;
    }

    tr {
      &:nth-child(odd) {
        background-color: var(--c-elevation-1);
      }
    }

    thead {
      tr {
        background-color: var(--c-accent) !important;
      }
    }
  }
}

.post-progress {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 0%;
  z-index: 100;
  background-color: var(--c-accent);

  @supports (animation-timeline: scroll()) {
    animation: progress both linear;
    animation-timeline: scroll();
  }
}

@keyframes fadeInPost {
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes progress {
  to {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .post {
    gap: 1rem;

    .post__image {
      grid-column: 1 / 5;
      aspect-ratio: 4 / 3;

      img {
        aspect-ratio: 4 / 3;
      }
    }

    .post__data {
      grid-column: 5 / -1;
    }

    &:nth-child(even) {
      .post__image {
        grid-column: 9 / -1;
      }

      .post__data {
        grid-column: 1 / 9;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .post {
    .post__image {
      grid-row: 1;
      grid-column: 1 / -1 !important;
      aspect-ratio: 16 / 9;

      img {
        aspect-ratio: 16 / 9;
      }
    }

    .post__data {
      grid-row: 2;
      grid-column: 1 / -1 !important;
      text-align: left;
      align-items: flex-start;
    }
  }
}
