.section {
    --content-width: var(--w-medium);
    padding: var(--gutter-l) var(--gutter-m);

    &__content {
        width: 100%;
        max-width: var(--content-width);
        margin-left: auto;
        margin-right: auto;
        // outline: 1px solid red;

        &+.section__content {
            margin-top: var(--gutter-xl);
        }
    }

    &__content--narrow {
        --content-width: var(--w-narrow);
    }

    &__content--wide {
        --content-width: var(--w-wide);
    }
}