.tags {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .tag {
    display: grid;
    gap: 1rem;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    color: var(--c-copy);

    .tag__name {
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      .tag__name {
        color: var(--c-accent);
      }
    }

    hr {
      border: 1px dashed var(--c-elevation-1);
    }
  }
}
