::view-transition-new(root),
::view-transition-old(root) {
  animation: none;
  mix-blend-mode: normal;
}

.theme-toggle {
  position: fixed;
  z-index: 100;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  opacity: 0.5;
  cursor: pointer;

  i {
    display: block;
    width: 24px;
    height: 24px;
    transition: all 0.5s linear;

    svg {
      width: 100%;
      height: auto;
      display: block;

      * {
        fill: var(--c-copy);
        stroke: var(--c-copy);
        transition: all 0.5s linear;
      }
    }

    &.icon-sun {
      display: block;
    }
    &.icon-moon {
      display: none;
    }
  }

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--c-copy);
    border-radius: 50%;
    z-index: -1;
    scale: 0;
    transition:
      scale 0.5s cubic-bezier(1, -1, 0, 2),
      color 0.5s linear;
  }

  &:hover {
    opacity: 1;

    i {
      svg {
        * {
          fill: var(--c-elevation-0);
          stroke: var(--c-elevation-0);
        }
      }
    }

    &:after {
      scale: 1.5;
    }
  }
}

.theme-light {
  .about-image {
    display: none;

    &.about-image--light {
      display: block;
    }
  }
  .theme-toggle {
    .icon-sun {
      display: none;
    }
    .icon-moon {
      display: block;
    }
  }
}
