.timeline {
    --dotSize: 20px;
    --lineWidth: 2px;
    --dotCorner: calc(var(--dotSize) * 0.25);

    position: relative;
    padding-top: var(--gutter-l);
    padding-bottom: var(--gutter-l);

    &:before {
        content: '';
        position: absolute;
        width: var(--lineWidth);
        height: 100%;
        top: 0;
        left: calc((var(--dotSize) - var(--lineWidth)) / 2);
        background-color: rgba(#fff, .2);
    }

    &__entry {
        position: relative;
        margin-left: calc(var(--dotSize) * 1.5);
        border-top: 1px solid rgba(#fff, .2);
        padding: var(--gutter-s);
        
        strong {
            font-weight: 900;
            font-family: var(--ff-sans);
            font-size: var(--fs-lg);
            display: block;

            &+ul {
                margin-top: var(--gutter-s);
            }
        }

        ul {
            li {
                &:before {
                    content: '- ';
                    color: var(--c-primary);
                }
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: calc(var(--dotSize) * -1.5);
            transform: translateY(-50%);
            width: var(--dotSize);
            height: var(--dotSize);
            background: var(--c-primary);
            clip-path: polygon(
                var(--dotCorner) 0,
                100% 0,
                100% calc(100% - var(--dotCorner)),
                calc(100% - var(--dotCorner)) 100%,
                0% 100%,
                0% var(--dotCorner)
            );
        }

        &:after {
            content: attr(data-label);
            position: absolute;
            top: 0;
            left: calc(var(--gutter-xs) * -1);
            color: var(--c-primary);
            font-family: var(--ff-mono);
            font-size: var(--fs-sm);
            padding: 0 var(--gutter-xs);
            background-color: var(--c-dark);
            transform: translate(var(--gutter-s), -50%);
        }

        &+.timeline__entry {
            margin-top: var(--gutter-xl);
        }
    }
}