.topbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: var(--topbar-height);
  backdrop-filter: blur(5px);
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, var(--max-content-width-wide)) minmax(1rem, 1fr);
  /* background-color: rgba(var(--c-copy-rgb), .01); */

  .topbar__inner {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .topbar__title {
    font-family: var(--ff-japanese);
    font-weight: 400;
    font-size: 3rem;

    a {
      text-decoration: none;
      color: var(--c-copy);
    }
  }
}

.topbar-space {
  padding-top: var(--topbar-height);
}