:root {
    // Gutters, Paddings, Margins
    --gutter-xs: 5px;
    --gutter-s: 10px;
    --gutter-m: 20px;
    --gutter-l: 40px;
    --gutter-xl: 80px;

    // Font Families
    --ff-serif: 'Noto Serif JP', serif;
    --ff-sans: 'Noto Sans JP', sans-serif;
    --ff-brush: 'aoyagireisyosimo2', sans-serif;

    // Colors
    --c-primary: #9f7c3c;

}