:root {
    // Gutters, Paddings, Margins
    --gutter-xs: 5px;
    --gutter-s: 10px;
    --gutter-m: 20px;
    --gutter-l: 40px;
    --gutter-xl: 80px;
    --gutter-xxl: 120px;

    // Font Families
    --ff-serif: 'Noto Serif JP', serif;
    --ff-sans: 'Noto Sans JP', sans-serif;
    --ff-brush: 'aoyagireisyosimo2', sans-serif;
    --ff-mono: 'Ubuntu Mono', monospace;

    // Font Sizes
    --fs-sm: .75rem;
    --fs-md: 1rem;
    --fs-lg: 1.25rem;
    --fs-xl: 1.5rem;
    --fs-xxl: 3rem;

    // Colors
    --c-primary: #9f7c3c;
    --c-dark: #111;
    --c-light: #ccc;
    --c-sb-track: transparent;
    --c-sb-thumb: var(--c-primary);

    // Content widths
    --w-narrow: 600px;
    --w-medium: 800px;
    --w-wide: 1200px;
}