:root {
  --c-elevation-0: #161420;
  --c-elevation-1: rgba(255, 255, 255, 0.05);
  /* --c-accent: #9f7c3c; */
  --c-accent: #ff4081;
  --c-accent-2: hsl(340, 100%, 73%);
  --c-copy: #ddd;
  --c-copy-rgb: 249, 251, 255;

  --ff-sans: 'Rubik', 'Noto Sans JP', sans-serif;
  --ff-serif: 'Rubik', 'Noto Serif JP', serif;
  --ff-mono: 'Ubuntu Mono', monospace;
  --ff-japanese: 'aoyagireisyosimo2', sans-serif;

  --topbar-height: 60px;
  --max-content-width: 80ch;
  --max-content-width-wide: 1200px;
}

.theme-light {
  --c-elevation-0: #e9ebdf;
  --c-elevation-1: rgba(0, 0, 0, 0.05);
  --c-accent: #ee5500;
  --c-copy: #444;
  --c-copy-rgb: 18, 20, 24;
}
