:root {
  --c-elevation-0: #161420;
  --c-elevation-1: rgba(255, 255, 255, 0.05);
  /* --c-accent: #9f7c3c; */
  --c-accent: #ff4081;
  --c-accent-2: hsl(340, 100%, 73%);
  --c-copy: #ddd;
  --c-copy-rgb: 249, 251, 255;

  --ff-sans: 'Rubik', 'Noto Sans JP', sans-serif;
  --ff-serif: 'Rubik', 'Noto Serif JP', serif;
  --ff-mono: 'Ubuntu Mono', monospace;
  --ff-japanese: 'aoyagireisyosimo2', sans-serif;

  --topbar-height: 60px;
  --max-content-width: 80ch;
  --max-content-width-wide: 1200px;
  --max-content-width-narrow: 50ch;

  --tf-cubic: cubic-bezier(0.66, 0, 0.34, 1);
  --tf-spring: linear(0, 0.008 1.1%, 0.034 2.3%, 0.134 4.9%, 0.264 7.3%, 0.683 14.3%, 0.797 16.5%, 0.89 18.6%, 0.967 20.7%, 1.027 22.8%, 1.073 25%, 1.104 27.3%, 1.123 30.6%, 1.119 34.3%, 1.018 49.5%, 0.988 58.6%, 0.985 65.2%, 1 84.5%, 1);
}

.theme-light {
  --c-elevation-0: #fcf9ea;
  --c-elevation-1: rgba(0, 0, 0, 0.05);
  --c-accent: #ffa4a4;
  --c-accent-2: #ffbdbd;
  --c-copy: #444;
  --c-copy-rgb: 18, 20, 24;
}
